.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: #BF7ABB;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar h2 {
  color: white;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.arrow-icon {
  width: 20px;
  height: 20px;
}

.sidebar nav {
  width: 100%;
}

.sidebar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background 0.3s;
}

.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

.sidebar a img.icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.content {
  flex: 1;
  padding: 20px;
  background: linear-gradient(to right, #C9DFF2, #E4C2E3);
}
